	* {
		margin: 0;
	}
	html, body {
		height: 100%;
	}
	.tweet {
	}
	.tweet-dark {
		background: #DDA0DD;
	}
	.tweet-light {
		background: #DFB8DF;
	}
	.tweet-user {
	}
	.tweet-msg {
	}
	.tweet-time {
		color: grey;
	}
